body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal centering */
    justify-content: flex-start; /* vertical alignment from top */
    font-family: sans-serif;
    background-color: #f5f5f5;
}

#toolbar {
    margin: 10px 0;
}

#paper {
    width: 800px;
    height: 600px;
    border: 1px solid #999;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
